.Card{
    max-width: 250px;
    min-width: 250px !important;
    margin-right: 10px;
    margin-top: 10px;
}

.CardBody{
    margin: 0px;
}

.TaskList{
    list-style-type : none;
    margin: 0px;
    padding: 0px;
}